<section class="mt-4">
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
  <div class="jumbotron">
    <h1 class="display-4">Would you really want to delete the </br>'<%= @news.title.capitalize %>' news ?</h1>
    <p class="lead">Dude, it's dangerous...</p>
    <hr class="my-4">
    <p class="lead">
      <%= link_to "Delete this news", admin_news_path(@news.id), method: :delete, class: "btn btn-danger btn-lg"  %>
    </p>
  </div>
</section>
