<div style="width:94%;margin-left:auto;margin-right:auto;">
  <section class="border-bottom" style="margin-top: 2em;">
    <p class="lead">
      <%= @news.caption.capitalize %></br>
    </p>
    <small>Autor: <%= @news.user.firstname.capitalize %></small>
  </section>
  <section>
    <%= @news.content.html_safe %>
  </section>
</div>
