<div style="max-width:45em;margin-left:auto;margin-right:auto;">
  <section style="margin-top: 2em;">
    <p class="lead">
      Founded in 2016, NinjaServ was originally a gathering of 6 passionate
      friends of video games ,the structure has grown with remarkable
      performance and has therefore grown considerably. It now counts 35
      members, subdivided into 5 competitive teams.
    </p>
  </section>
  <section>
    <h2>Our vision</h2>
    <p class="lead">
      We want to conquer Europe, but first of all
      Switzerland is what we want to conquer. With
      our teams are remarkable that it is online or
      offline our teams ensure the image of the
      structure and of sponsors.
    </p>
  </section>
  <section>
    <h2>Our mission</h2>
    <p class="lead">
      Our mission is to be the first in Switzerland.
      Then this we want to launch NinjaServ on
      the European scene, with our mixed teams.
    </p>
  </section>
  <section class="text-center">
    <%= link_to 'https://twitter.com/NinjaservEsport', target: "_blank" do %>
    <%= image_tag 'twitter.svg', size: 32, alt: 'Twitter'%>
    <p>
      @NinjaservEsport
    </p>
    <% end %>
  </section>
</div>
