/* The Loader */

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	overflow: hidden;
}

img.load_gif {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: transparent;
	animation: spin 1.7s linear infinite;
	z-index: 11;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: transparent;
	animation: spin-reverse .6s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: transparent;
	animation: spin 1s linear infinite;
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #121315;
	z-index: 10;
}

.leaders-area .row {
	background: #0c0c0d;
	padding: 20px 0 40px 20px;
	margin: -20px 0 0 -20px;
	border-radius: 0px 0 10px 10px;
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}


/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
	transform: translateX(-100%);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	transform: translateX(100%);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.3s 1s ease-out;
}


/*============ Common START =============*/

.flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

body {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	/* Font varient */
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	/* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	background: #1d1e22;
}

a:hover {
	opacity: 0.8
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0
}

li {
	list-style: none
}


/*============ Common END =============*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #272727
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

h3,
h4,
h5 {}

strong {
	font-weight: 600;
}

a {
	color: #363f44;
	cursor: pointer;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	transition: All 0.5s ease;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #141719;
	text-decoration: none !important;
}

label {
	font-weight: normal;
}

small,
.small {
	font-size: 13px;
}

ul {
	padding-left: 0;
}


/* Header */

.right-nav {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	float: right;
}

.top-bar {
	background: #121315;
	text-align: center;
	padding: 43px 0 20px 0;
}

.top-bar ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.top-bar ul li a {
	color: #0e488d;
	font-size: 12px;
}

.top-bar ul li a i {
	font-size: 14px;
	color: #f78c15;
	margin-right: 10px;
}

.navbar {
	border-radous: 0;
	border: 0;
	padding: 0;
	margin: 0;
}

.header-inner {
	width: 100%;
	position: reltive;
	z-index: 999;
	background-color: #1d1e22;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.06);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.06);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: all 2s;
}

.block-area.leaders-area .bottom-area p {
	margin-bottom: 30px;
	font-size: 31.14px;
	background: #e63535;
	border-radius: 15px;
	padding: 0 15px;
	color: #fff;
	font-weight: 500;
	margin-top: 10px;
	display: inline-block;
}

.tab-pane {
	position: relative;
}

.tab-pane>img {
	width: 100%;
}

.block-area.leaders-area .contain-img {
	background: transparent;
	position: relative;
	text-align: center;
	margin-top: 15px;
}

.block-area.leaders-area .contain-img h3 {
	font-size: 42px;
	color: #fff;
	font-weight: 500;
}

.block-area.leaders-area img.img-for {
	width: 100%;
	max-width: 351px;
	margin: 0 auto;
	display: block;
}

.title-bar h2 span {
	float: right;
	line-height: 1;
}

.block-area.leaders-area .bottom-area {
	position: relative;
	left: 0;
	bottom: 0;
}

.top-line {
	padding: 10px 0;
	background: #666;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.top-line p,
.top-line a {
	color: #ffffff;
	margin: 0;
}

.top-line p span {
	margin-right: 20px;
}

.top-line p span i {
	font-size: 13px;
	color: #fff;
	margin-right: 10px;
}

.top-line ul.social-icons {
	margin: 0;
	padding: 0;
	text-align: right;
}

.top-line ul.social-icons li {
	display: inline-block;
	margin-left: 9px;
}

.top-line ul.social-icons li a {
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	font-size: 14px;
	color: #ffffff;
}

.btn-rounded {
	border-radius: 25px;
	background: #161616;
	color: #fff;
	padding: 12px 40px;
	font-size: 16px;
	font-weight: 500;
}

.btn-rounded:hover {
	color: #fff;
	background-color: #004898;
	border-color: #004898;
}

.btn-primary {
	color: #fff;
	background-color: #f89222;
	border-color: #f89222;
	font-size: 14px;
	text-transform: uppercase;
	padding: 14px 21px;
	font-weight: bold;
}

.four-colm {
	padding: 4.2% 0;
}

.set-col {
	text-align: center;
	height: 100%;
	border: 1px solid #b9b9b9;
	padding: 43px 20px 73px 20px;
}

.set-col .frame-img {
	min-height: 100px;
	max-height: 100px;
	display: flex;
	flex-wrap: wrap;
}

.details ul li {
	display: inline-block;
	vertical-align: middle;
	max-width: 177px;
	width: 100%;
}

.client-col .left-ba p>span {
	background: #e63535;
	height: 12px;
	width: 12px;
	border-radius: 50px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.contain-text p {
	font-size: 32px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 0;
	position: relative;
}

.contain-text p:last-child .left-line {
	background: transparent;
}

.left-line {
	position: absolute;
	left: 0;
	background: #e63535;
	height: 100%;
	display: block;
	width: 5px;
	top: 23px;
}

.contain-text p span.#e63535-bg {
	background: #e63535;
	border-radius: 25px;
	padding: 0px 20px;
	font-size: 28px;
	line-height: 40px;
	clear: both;
	color: #fff;
	font-weight: 500;
	z-index: 1;
	position: relative;
}

.contain-text {
	background: #0c0c0d;
	padding: 20px 0 40px 20px;
	margin: -20px 0 0 -20px;
	border-radius: 0px 0 10px 10px;
}

.contain-text p span {
	color: #ff0002;
}

.contain-text p {
	font-size: 32px;
	color: #fff;
	font-weight: 500;
	padding-left: 26px;
}

.contain-text p:last-child .#e63535-bg::before {
	top: 10px;
}

.contain-text p span.#e63535-bg::before {
	content: "";
	height: 4px;
	width: 120px;
	display: block;
	border-radius: 0;
	position: absolute;
	left: -25px;
	background: #ff0002;
	top: 14px;
	z-index: -1;
}

.client-col .left-ba p {
	color: #fff;
	font-size: 14.73px;
	font-weight: 500;
	padding-left: 19px;
	position: relative;
	line-height: normal;
	margin-top: 13px;
	margin-bottom: 7px;
}

.last-child .left-ba>span {
	font-size: 19.14px;
	background: #e63535;
	border-radius: 30px;
	padding: 0 15px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.icons-to-view li {
	display: inline-block;
	margin: 0 5px;
}

.right-ba {
	display: inline-block;
	vertical-align: middle;
}

.left-ba {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding-left: 15%;
}

.set-col .frame-img img {
	margin: auto;
}

.set-col hr {
	border-color: #c9c9c9;
	display: block;
	width: 100%;
	max-width: 49px;
}

.flex-box.gradiant-bg {
	padding: 0 0;
	margin: 0 0;
}

img.img-for {
	width: 100%;
}

.top-nav {
	background: url(../images/bgteams.png);
	background-size: 100%;
	padding-top: 10%;
	text-align: center;
	padding-bottom: 14px;
	background-repeat: no-repeat;
}

.block-area .contain-img {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	margin: 0 15px;
	left: 0;
	background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(134, 1, 1, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(134, 1, 1, 1) 100%);
	background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(134, 1, 1, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#860101', GradientType=1);
}

.top-nav ul li .team-bar img {
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
	top: 0;
	position: relative;
}

.top-nav ul li span {
	position: absolute;
	top: -70px;
	font-size: 19.14px;
	background: #e63535;
	border-radius: 30px;
	padding: 0 15px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	left: -60px;
	display: none;
}

.top-nav ul li a.active span {
	display: block;
}

.top-nav ul li a.active .team-bar img {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: scale(1.1);
	top: -18px;
	position: relative;
}

.contain-img>span {
	position: absolute;
	top: 0;
}

.top-nav ul li .team-bar {
	background: rgba(255, 0, 2, 0.53);
	border-radius: 10px;
}

.top-nav ul li {
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

.title-bar h2 {
	color: #fff;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 2.8px;
}

.block-area {
	margin-top: 4%;
}

.title-bar h2 img {
	margin-right: 15px;
}

.bg-areas {
	padding-top: 15px;
	padding-bottom: 0;
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 0;
	padding-left: 36%;
}

.bg-areas p {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	line-height: 34px;
}

a.showSingle {
	position: relative;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	top: 0;
}

.teams-nav {
	margin-top: 40px;
}

a.showSingle.active-tab {
	position: relative;
	top: -16px;
}

.teams-nav ul {
	display: inline-block;
	background: #e63535;
	border-radius: 5px 5px 0 0;
	padding: 3px 15px 20px 15px;
	margin-bottom: -20px;
	z-index: -0;
	position: relative;
}

.targetDiv {
	z-index: 1;
	position: relative;
}

.targetDiv {
	display: none
}

.teams-nav li {
	display: inline-block;
	margin: 0 3px;
}

.teams-nav li a {
	background: #fff;
	color: #ff0002 !important;
	padding: 0px 15px;
	border-radius: 15px;
	display: block;
	font-size: 18px;
	font-weight: 500;
}

ul.nav.nav-pills {
	display: block;
}

#exTab1 .tab-content {
	color: white;
	background-color: #428bca;
	padding: 5px 15px;
}

#exTab2 h3 {
	color: white;
	background-color: #428bca;
	padding: 5px 15px;
}


/* remove border radius for the tab */

#exTab1 .nav-pills>li>a {
	border-radius: 0;
}


/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills>li>a {
	border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
	color: white;
	background-color: #428bca;
	padding: 5px 15px;
}

.bg-areas>span {
	background: #e63535;
	color: #fff;
	padding: 2px 10px;
	border-radius: 10px;
	font-size: 23px;
	font-weight: 500;
}

.bg-areas>span span.black-font {
	color: black;
}

.bg-areas p span {
	color: #e63535;
}

.title-bar::before {
	content: "";
	width: 20px;
	background: #e63535;
	position: absolute;
	left: -20px;
	top: 0;
	bottom: 0;
	border-radius: 50px 0 0 50px;
}

.top-nav ul li:hover {}

.title-bar {
	background: #0e0e0f;
	padding: 15px 0 15px 20px;
	border-radius: 0px 20px 20px 0px;
	position: relative;
	margin-bottom: 10px;
}

.offline {
	position: absolute;
	top: 0;
	margin: auto;
	left: 38%;
	bottom: 0;
	display: table;
}

.live-off {
	position: absolute;
	right: 15px;
	top: -4px;
	z-index: 1;
}

.offline p {
	font-size: 19.14px;
	background: #e63535;
	border-radius: 30px;
	padding: 0 15px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.bottom-area p.views {
	color: #fff;
	font-size: 17px;
}

.live-twitch .contain-img>span {
	position: absolute;
	top: 20px;
	font-size: 19.14px;
	background: #6341a3;
	border-radius: 30px;
	padding: 0 15px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	left: 20px;
}

.live-twitch .title-bar::before {
	content: "";
	width: 20px;
	background: #6442a3;
	position: absolute;
	left: -20px;
	top: 0;
	bottom: 0;
	border-radius: 50px 0 0 50px;
}

.block-area.live-twitch .contain-img {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	margin: 0 15px;
	left: 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#860101', GradientType=1);
	background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(60, 13, 138, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(60, 13, 138, 1) 100%);
	background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(60, 13, 138, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#3c0d8a', GradientType=1);
}

.block-area.with-two .col-md-6 {
	margin: 0;
}

.gradiant-bg {
	background: rgb(13, 13, 16);
	background: -moz-linear-gradient(left, rgba(13, 13, 16, 1) 0%, rgba(13, 28, 52, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(13, 13, 16, 1) 0%, rgba(13, 28, 52, 1) 100%);
	background: linear-gradient(to right, rgba(13, 13, 16, 1) 0%, rgba(13, 28, 52, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d10', endColorstr='#0d1c34', GradientType=1);
	align-items: center;
}

.set-col h2 {
	font-size: 18px;
	padding-top: 30px;
	color: #f89222;
	font-weight: bold;
	line-height: 23px;
}

.client-col::after {
	content: "";
	background: #e63535;
	position: absolute;
	width: 6px;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	transform: skew(-15deg, -2deg);
}

.main-banner h1 span {
	color: #ff0000;
}

.main-banner h1 {
	color: #fff;
	font-size: 73.51px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 0.9;
}

.banner-contain>span {
	font-size: 19.14px;
	background: #e63535;
	border-radius: 30px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	padding: 3px 15px;
}

.client-col.last-child::after {
	content: none
}

.contain-img h3 {
	font-size: 21px;
	color: #fff;
}

.bottom-area p {
	color: #ff0000;
	font-size: 12px;
}

.bottom-area {
	position: absolute;
	bottom: 20px;
	left: 30px;
}

.contain-img>span {
	position: absolute;
	top: 20px;
	font-size: 19.14px;
	background: #e63535;
	border-radius: 30px;
	padding: 0 15px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	left: 20px;
}

.block-area .col-md-6 {
	margin: 15px 0;
}

.set-col p {
	font-size: 14px;
	color: #727272;
	font-weight: normal;
	line-height: 23px;
}

.set-col a:hover {
	color: #f89222;
}

.set-col a {
	font-size: 14px;
	color: #004998;
	font-weight: normal;
	line-height: 23px;
	margin-top: 20px;
	display: block;
}

.btn-primary:hover {
	color: #fff;
	background-color: #004898;
	border-color: #004898;
}

.main-banner {}

.swiper-slide img {
	width: 100%;
}

.small-wi {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

.banner-two {
	background: url(../images/banner2.jpg) no-repeat;
	text-align: center;
	padding: 5% 0 5% 0;
	background-position: center;
}

.banner-two h2 {
	font-size: 45px;
	color: #fff;
}

.banner-two p {
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	line-height: 23px;
	margin-bottom: 40px;
}

.banner-two hr {
	max-width: 361px;
	border-color: #fff;
	width: 100%;
	margin: 40px auto;
}

.title-part {
	text-align: center;
}

.client-area .title-part h2 {
	font-size: 45px;
	color: #f59e3f;
	font-weight: bold;
	text-align: center;
	margin-top: 8.5%;
}

.client-col span.name {
	font-weight: bold;
	margin-top: 6%;
}

.client-col span {
	font-size: 14px;
	color: #161616;
	display: block;
	text-align: center;
}

.client-col p {
	font-size: 14px;
	color: #787878
}

.client-col {
	padding: 20px 0;
	text-align: center;
}

.right-ba {
	display: inline-block;
	max-width: 334px;
	text-align: right;
	width: 100%;
	vertical-align: middle;
}

.client-col .right-ba p.result-green {
	background: #259812;
	max-width: 128px;
	font-size: 33px;
	width: 100%;
	text-align: center;
	font-weight: 500;
	border-radius: 10px;
}

.client-col .right-ba p.result-red {
	background: #e73535;
	max-width: 128px;
	font-size: 33px;
	width: 100%;
	text-align: center;
	font-weight: 500;
	border-radius: 10px;
}

.with-two .title-bar {
	margin-bottom: 0;
}

.details ul li span {
	background: #1a1a22;
	color: #fff;
	font-size: 27px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	line-height: 61px;
	display: inline-block;
	margin-bottom: 9px;
}

.right-ba>a {
	color: #fff !important;
	display: block !important;
	padding-right: 45px;
}

.right-left {
	margin-bottom: 25px;
}

.details ul li p {
	color: #ff0000;
	font-size: 14px;
}

.client-area .title-part p {
	color: #8c8c8c;
	text-align: center;
	font-size: 14px;
	max-width: 685px;
	width: 100%;
	display: block;
	margin: 3% auto 6% auto;
}

.client-col .right-ba p {
	font-size: 19.14px;
	background: #e63535;
	border-radius: 30px;
	padding: 0 15px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	float: none;
	display: inline-block;
}

.client-col.last-child {
	text-align: left;
}

.banner-two span {
	font-size: 17px;
	color: #fff;
	line-height: 23px;
}

footer {
	background: #121315;
	color: #fff;
	text-align: center;
	padding: 4% 0;
	margin-top: 8%;
}

ul.fo-menu li a {
	color: #fff;
	font-size: 19px;
	line-height: 30px;
}

ul.fo-social li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

ul.fo-menu {
	float: right;
	text-align: left;
}

footer h2 {
	color: #fff;
	font-size: 36.57px;
	font-weight: 500;
	margin-bottom: 15px;
}

.top-footer p {
	line-height: normal;
}

.banner-contain a {
	background: #bc3f3f;
	color: #fff;
	padding: 5px 13px 9px 13px;
	display: inline-block;
	margin: 10px 0 0 0;
	font-size: 18.56px;
	line-height: normal;
}

.top-footer {
	padding-bottom: 8%;
	border-bottom: 1px solid #2e2e2e;
	margin-bottom: 4%;
}

.bottom-footer ul li:last-child {
	border: none;
}

.bottom-footer p {
	font-size: 14px;
	color: #ffffff;
	line-height: 3;
}

.bottom-footer ul li {
	display: inline-block;
	border-right: 1px solid #fff;
	padding: 0 11px;
	line-height: 13px;
	vertical-align: middle;
}

.bottom-footer a,
.top-footer a {
	font-size: 14px;
	color: #ffffff
}

.main-banner p {
	font-size: 13.57px;
	padding: 0;
	color: #fff;
	line-height: normal;
	font-weight: 500;
	margin-top: 5px;
}

.top-line ul.social-icons li a:hover {
	color: #ffba00;
}

header.active .top-line {
	height: 0;
	padding: 0;
}


/*** Brand logo ***/

.brand {
	max-width: 200px;
	padding-top: 10px;
	width: 100%;
}

.brand a {
	display: block
}

.brand,
.header-inner .main-nav {
	display: inline-block;
	vertical-align: middle;
}


/*** Main Nav Menu ***/

.main-nav {
	text-align: right;
	white-space: nowrap;
	padding: 15px 0 0 0;
	width: 100%;
}

.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav .sf-menu li {
	position: relative;
}

.main-nav .sf-menu li ul.dropdown-menu {
	border-top: solid 2px rgb(248, 146, 34);
	border-radius: 0;
}

.main-nav .sf-menu li ul.dropdown-menu li {
	border: none;
}

.main-nav .sf-menu li ul.dropdown-menu li a {
	padding: 0px 15px;
	font-size: 13px;
	line-height: 34px;
}

.main-nav .sf-menu li:hover,
.sf-menu li.sfHover {
	-webkit-transition: none;
	transition: none;
}

.main-nav .sf-menu li a {
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 31px;
	padding: 0;
	position: relative;
	text-transform: capitalize;
	cursor: pointer;
	margin: 0 15px;
}

.banner-contain {
	position: absolute;
	text-align: left;
	left: 19%;
}

.header-inner .container {
	margin-bottom: 140px;
}

.main-nav .sf-menu li.current a {
	color: #fff;
	border-bottom: 2px solid #fff;
	font-weight: normal;
}

.main-nav .sf-menu li.current ul a {
	color: #424E75;
	cursor: pointer;
}

.main-nav .sf-menu li ul li.current a {
	color: #424E75;
}

.main-nav .sf-menu ul {
	background-color: #fff;
	position: absolute;
	z-index: 6000;
	display: none;
	min-width: 12em;
	/* allow long menu items to determine submenu width */
	*width: 12em;
	/* no auto sub width for IE7, see white-space comment below */
	top: 99%;
	left: 0;
	z-index: 99;
	margin: 1px 0;
	padding: 0;
	border-top: solid 2px #c44741;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
}

.main-nav .sf-menu>li {
	display: inline-block;
	cursor: pointer;
}

.main-nav .sf-menu li:hover>ul,
.main-nav .sf-menu li.sfHover>ul {
	display: block;
}

.main-nav .sf-menu a {
	display: block;
	position: relative;
}

.main-nav .sf-menu a:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
	font-weight: normal;
}

.main-nav .sf-menu ul li {
	width: 180px;
	background: #fff;
	text-align: left;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}

.main-nav .sf-menu ul li a {
	padding: 10px 15px;
	font-size: 13px;
}

.main-nav .sf-menu ul ul {
	top: 0;
	left: 100%;
}

.main-nav .sf-menu ul ul li {
	background: #fff;
	border-left: solid 1px #eee;
}


/*** arrows (for all except IE7) **/

.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em;
	/* no CSS arrows for IE7 (lack pseudo-elements) */
}

.sf-arrows>li>.sf-with-ul:focus:after,
.sf-arrows>li:hover>.sf-with-ul:after,
.sf-arrows>.sfHover>.sf-with-ul:after {
	border-top-color: #004998;
	/* IE8 fallback colour */
}

.sf-arrows ul li>.sf-with-ul:focus:after,
.sf-arrows ul li:hover>.sf-with-ul:after,
.sf-arrows ul .sfHover>.sf-with-ul:after {
	border-left-color: #999;
}

.header-inner #toggle-btn {
	cursor: pointer;
	font-size: 17px;
	height: 45px;
	line-height: 45px;
	position: absolute;
	right: 30px;
	text-align: center;
	top: 40px;
	width: 45px;
}

.header-inner .toggle-subarrow {
	display: none;
}

.read-more {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
}

.inner-banner {
	background: url(../images/innerbanner.jpg) no-repeat;
	text-align: center;
	position: relative;
	background-position: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

.border-box a:hover h2 {
	color: #f88b16;
}

.border-box h2 {
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	transition: All 0.5s ease;
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	padding-top: 27px;
	padding-bottom: 25px;
}

.service-list {
	padding: 5.5% 0 4% 0;
}

.get-in-touch-bg {
	background: url(../images/get-touch-bg.jpg) no-repeat;
	text-align: center;
	padding: 5.5% 0 5.5% 0;
	background-position: center;
	background-size: 100%;
}

.get-in-touch-bg h2 {
	line-height: 26px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	max-width: 323px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 34px;
}

.m-bo {
	margin: 15px 0;
}

.border-box img {
	width: 100%;
}

.border-box p {
	color: #666666;
	font-size: 13px;
	padding: 0 12%;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	padding-bottom: 32px;
}

.border-box {
	text-align: center;
	border: 1px solid #ededed;
	height: 100%;
}

.inner-banner h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #fff;
}

.breadcrumbs {
	position: absolute;
	bottom: 20px;
}

.breadcrumbs ul li {
	display: inline-block;
}

.breadcrumbs ul li::after {
	font-size: 18px;
	content: "/";
	color: #dd6e22;
	margin: 0 4px;
}

.breadcrumbs ul li.current::after {
	content: none;
}

.breadcrumbs ul li a {
	color: #dd6e22;
	font-size: 18px;
}

.breadcrumbs ul li.current a {
	color: #fff
}

.breadcrumbs ul li a:hover {
	color: #007bff
}

@media (max-width: 1200px) {
	.right-ba {
		max-width: 246px;
	}
	.details ul li {
		max-width: 127px;
	}
	.top-nav {
		background-size: cover;
	}
}

@media (min-width: 993px) {
	.header-inner #toggle-btn {
		display: none;
	}
}

@media (max-width: 992px) {
	.top-nav ul li {
		width: 12%;
	}
	.top-nav ul li img {
		width: 100%
	}
	.details ul li {
		max-width: 96px;
	}
	.details ul li img {
		width: 100%;
	}
	.right-ba {
		max-width: 166px;
	}
	.main-nav .sf-menu li ul.dropdown-menu li,
	.main-nav .sf-menu li ul.dropdown-menu li a {
		margin: 0 !important;
		padding: 0 !important
	}
	.main-nav .sf-menu li ul.dropdown-menu {
		border-top: solid 2px rgb(248, 146, 34);
		border-radius: 0;
		position: absolute !important;
		top: 0;
		opacity: 1;
		width: 100% !important;
		left: 0;
		right: 0;
		top: 44px;
		margin: 0 !important;
		padding: 0 !important;
	}
	.main-nav .sf-menu li.sfHover.show ul.dropdown-menu {
		display: none !important;
	}
	.main-nav .sf-menu li.sfHover ul.dropdown-menu {
		display: block !important;
	}
	.brand {
		max-width: 200px;
		padding-top: 10px;
		width: 100%;
		padding-bottom: 10px;
	}
	.navbar-brand {
		display: block;
	}
	.navbar {
		max-height: none;
	}
	.main-nav {
		margin-top: 10px;
		height: auto;
	}
	.sf-menu>li {
		float: none;
	}
	.sf-menu li a {
		padding: 10px 13px;
		font-weight: 400;
	}
	.sf-menu li a:hover,
	.sf-menu li.sfHover a:hover {
		color: #c44741;
	}
	.sf-menu ul {
		font-size: 14px;
		display: block;
		position: static !important;
		border: 0;
		box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		-webkit-box-shadow: 0 0 0 0;
	}
}

@media only screen and (max-width: 992px) {
	#nav-icon1,
	#nav-icon2,
	#nav-icon3,
	#nav-icon4 {
		width: 60px;
		height: 45px;
		position: relative;
		margin: 50px auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
	}
	#nav-icon1 span,
	#nav-icon3 span,
	#nav-icon4 span {
		display: block;
		position: absolute;
		height: 9px;
		width: 100%;
		background: #d3531a;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	#nav-icon1 span:nth-child(1) {
		top: 0px;
	}
	#nav-icon1 span:nth-child(2) {
		top: 18px;
	}
	#nav-icon1 span:nth-child(3) {
		top: 36px;
	}
	#nav-icon1.open span:nth-child(1) {
		top: 18px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	#nav-icon1.open span:nth-child(2) {
		opacity: 0;
		left: -60px;
	}
	#nav-icon1.open span:nth-child(3) {
		top: 18px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	/* Icon 2 */
	#toggle-btn {}
	#toggle-btn span {
		display: block;
		position: absolute;
		height: 2px;
		width: 31%;
		background: #fff;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	#toggle-btn span:nth-child(even) {
		left: 50%;
		border-radius: 0 9px 9px 0;
	}
	#toggle-btn span:nth-child(odd) {
		left: 9px;
		border-radius: 9px 0 0 9px;
	}
	#toggle-btn span:nth-child(1),
	#toggle-btn span:nth-child(2) {
		top: 0px;
	}
	#toggle-btn span:nth-child(3),
	#toggle-btn span:nth-child(4) {
		top: 8px;
	}
	#toggle-btn span:nth-child(5),
	#toggle-btn span:nth-child(6) {
		top: 16px;
	}
	#toggle-btn.open span:nth-child(1),
	#toggle-btn.open span:nth-child(6) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#toggle-btn.open span:nth-child(2),
	#toggle-btn.open span:nth-child(5) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#toggle-btn.open span:nth-child(1) {
		left: 8px;
		top: 7px;
	}
	#toggle-btn.open span:nth-child(2) {
		left: calc(50% - 5px);
		top: 7px;
	}
	#toggle-btn.open span:nth-child(3) {
		left: -50%;
		opacity: 0;
	}
	#toggle-btn.open span:nth-child(4) {
		left: 100%;
		opacity: 0;
	}
	#toggle-btn.open span:nth-child(5) {
		left: 8px;
		top: 17px;
	}
	#toggle-btn.open span:nth-child(6) {
		left: calc(50% - 5px);
		top: 17px;
	}
	/* Icon 3 */
	#nav-icon3 span:nth-child(1) {
		top: 0px;
	}
	#nav-icon3 span:nth-child(2),
	#nav-icon3 span:nth-child(3) {
		top: 18px;
	}
	#nav-icon3 span:nth-child(4) {
		top: 36px;
	}
	#nav-icon3.open span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	#nav-icon3.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#nav-icon3.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#nav-icon3.open span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	/* Icon 4 */
	#nav-icon4 {}
	#nav-icon4 span:nth-child(1) {
		top: 0px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}
	#nav-icon4 span:nth-child(2) {
		top: 18px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}
	#nav-icon4 span:nth-child(3) {
		top: 36px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		transform-origin: left center;
	}
	#nav-icon4.open span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: -3px;
		left: 8px;
	}
	#nav-icon4.open span:nth-child(2) {
		width: 0%;
		opacity: 0;
	}
	#nav-icon4.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 39px;
		left: 8px;
	}
	.four-colm .col-md-6.col-sm-6.col-lg-3 {
		margin: 0 0 20px 0;
	}
	.header-inner .main-nav {
		display: block;
		margin: 0;
	}
	#toggle-btn {
		display: block;
	}
	.toggle-subarrow {
		display: block !important;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		width: 45px;
		height: 42px;
		border-left: 1px solid #e8e8e8;
		text-align: center;
		color: #777;
	}
	.toggle-subarrow .fa {
		margin-top: 14px;
	}
	.main-nav {
		text-align: left;
		white-space: nowrap;
		padding: 0;
	}
	.sf-menu {
		display: none;
	}
	.main-nav .sf-menu {
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 117%;
	}
	.main-nav .sf-menu>li {
		font-size: 13px;
		line-height: 16px;
		display: block;
	}
	.main-nav .sf-menu li a {
		padding: 20px;
		line-height: 0px;
		display: block;
		position: relative;
		background-color: #ff0002;
		text-align: center;
	}
	.main-nav .sf-menu ul {
		border: none;
	}
	.main-nav .sf-menu ul li {
		width: 100%;
		margin-left: 30px;
		font-size: 13px;
		line-height: 16px;
		font-weight: 400;
		position: relative;
		border: none;
		border-top: 1px solid #e8e8e8;
	}
	.sf-menu ul {
		position: static!important;
		display: none!important;
	}
	.mob-drop ul {
		display: block!important;
	}
}

@media(min-width: 601px) and (max-width: 780px) {
	.top-line .container {
		max-width: 70%;
	}
	.top-line p span {
		display: table;
		margin-right: 20px;
		text-align: left;
	}
}

@media screen and (max-width: 767px) {
	.bg-areas {
		position: relative;
	}
	.top-nav ul li {
		width: 15%;
	}
	.top-nav ul li {
		display: inline-block;
		margin: 0 5px;
		position: relative;
	}
	.client-col.last-child {
		text-align: center;
	}
	.client-col::after {
		content: "";
		background: #e63535;
		position: absolute;
		width: 100%;
		display: block;
		top: auto;
		bottom: 0;
		right: 0;
		transform: inherit;
		height: 5px;
	}
	.get-in-touch-bg {
		background-size: cover;
	}
	.breadcrumbs {
		bottom: 0;
	}
	.client-area .col-md-6 {
		margin: 0 0 20px 0;
	}
}

@media screen and (max-width: 640px) {
	.bg-areas {
		padding-left: 0;
	}
	contain-text p {
		font-size: 25px;
	}
	.block-area.leaders-area .contain-img h3 {
		font-size: 26px;
	}
	.top-nav ul li span {
		top: -28px;
		font-size: 10.14px;
		left: 0;
	}
	.top-nav ul li .team-bar {
		background: rgba(255, 0, 2, 0.53);
		border-radius: 10px;
		margin-top: 15px;
	}
	.header-inner .container {
		margin-bottom: 40px;
	}
	.right-ba {
		max-width: 140px;
	}
	ul.fo-menu {
		float: none;
		text-align: center;
		margin: 20px 0;
	}
	footer h2 {
		margin-top: 20px;
	}
	.details ul li {
		max-width: 91px;
	}
	.block-area.leaders-area .bottom-area p {
		font-size: 23.14px;
	}
	.breadcrumbs ul li a {
		color: #dd6e22;
		font-size: 14px;
	}
	.main-banner h1 {
		font-size: 7vw;
		line-height: 0.9;
	}
	.banner-contain>span {
		font-size: 9.14px;
	}
	.title-bar h2 {
		color: #fff;
		font-size: 25px;
		font-weight: 500;
		letter-spacing: 2.8px;
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		display: inline-block;
		border-radius: 100%;
		background: #fff;
		opacity: .5;
	}
	.main-banner p {
		font-size: 3.5vw;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: -4px;
		left: 0;
		width: 100%;
	}
	.swiper-pagination {
		position: relative;
	}
	.banner-contain a {
		font-size: 10.56px;
	}
	.main-banner p {
		font-size: 4.5vw;
	}
	.banner-two {
		padding: 5% 0 5% 0;
	}
	.brand {
		max-width: 76%;
		padding-top: 10px;
		width: 100%;
		padding-bottom: 10px;
		text-align: center;
	}
	.brand img {
		width: 100%;
	}
	.right-nav {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		float: none;
		width: 100%;
		padding-bottom: 10px;
	}
	.header-inner #toggle-btn {
		top: 19px;
	}
	.top-bar ul li {
		margin: 0 4px;
	}
	.banner-two {
		background-size: cover;
		background-position: center;
	}
}
