html, body{
  background-color: #423630;
  font-family: 'Open Sans', sans-serif;
  font-style: light;
  color: #FFF;
}
.navbar-nav .nav-link {
    color: #FFF;
}
.bg-dark {
    background-color: #6f2e2f !important;
}
.button {
    background-color: white;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:  12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3 {
    background-color: #00F0F8FF; 
    color: black; 
    border: 2px solid #6f2e2f;
}

.button3:hover {
    background-color: #423630;
    color: black;
}
