html, body{
  background-color: #423630;
  font-family: 'Open Sans', sans-serif;
  font-style: light;
  color: #FFF;
}
.navbar-nav .nav-link {
    color: #FFF;
}
.bg-dark {
    background-color: #6f2e2f !important;
}
