html, body{
  background-color: #423630;
  font-family: 'Open Sans', sans-serif;
  font-style: light;
  color: #FFF;
}
.navbar-nav .nav-link {
    color: #FFF;
}
.bg-dark {
    background-color: #6f2e2f !important;
}
.button-index-news {
    border: 1px solid #292d30;
    background: #191919;
    color: #423630;
    display: inline-block;
    width: 100%;
    padding: 15px 30px;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.button-login {
    border: 1px solid #292d30;
    background: #191919;
    color: #423630;
    display: inline-block;
    width: 100%;
    padding: 15px 30px;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}
.button-register {
    border: 1px solid #292d30;
    background: #191919;
    color: #423630;
    display: inline-block;
    width: 100%;
    padding: 15px 30px;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

