<ul class="nav justify-content-end" style="border-bottom: 1px solid #000000; padding:1em;">
  <li class="nav-item">
    <%= link_to "Create team", new_admin_team_path, class: "nav-link btn-sm btn-primary" %>
  </li>
</ul>
