<div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <p class="lead"><%= lead %></p>
  <hr class="my-4">
  <p><%= data %></p>
  <p class="lead">
    <%= link_to link_title, link, class: "btn btn-primary btn-lg"  %>
  </p>
</div>
