Welcome to our new Website!!!


 <!--header-->                                                              
      <header class="site-header">
         <nav class="navbar navbar-default">
            <div class="header-inner">
               <div class="top-bar">
                  <ul>
                     <li><a href="#"><img src="images/bit-logo.jpg" alt="Bity"></a></li>
                     <li><a href="#"><img src="images/pcgaming-logo.jpg" alt="pcgaming"></a></li>
                  </ul>
               </div>
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="brand"> <a href="index.html">
                           <img src="images/ninjaserv-logo.png" alt="#">
                           </a> 
                        </div>
                        <div class="right-nav">
                           <nav  id="nav-wrap" class="main-nav">
                              <div id="toggle-btn">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                              </div>
                              <ul class="sf-menu">
                                 <li> <a href="https://ninjaserv.com/teams">TEAMS</a> </li>
                                 <li> <a href="https://preprod.ninjaserv.com/news">NEWS </a></li>
                                 <li> <a href="https://ninjaserv.com/aboutus">ABOUT US</a></li>
                                 <li> <a href="https://ninjaserv.com/sponsors">SPONSORS</a></li>
                                 <li> <a href="https://preprod.ninjaserv.com/contact">CONTACT</a> </li>
                                 <li> <a href="https://ninjaserv.com/shop">LOGIN</a> </li>
                                 <!--<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Some text</a></li>
                                      <li><a href="#">Some text</a></li>
                                      <li><a href="#">Some text</a></li>
                                     
                                    </ul>
                                    </li>-->
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <!--header-->
