<% sponsors = Sponsor.where(in_header: true, visible: true) %>
<% if sponsors.count > 0 %>
<nav class="nav justify-content-center nav-justified" id="sponsor_top_bar">
  <% sponsors.each do |sponsor| %>
  <a class="navbar-brand" href="<%= sponsor.url %>" target="_blank">
    <%= image_tag sponsor.logo.url(:thumb), size: "30" %>
  </a>
  <% end %>
</nav>
<% end %>
